<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>
<body>
  <nav>
    <ul>
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.children %}
            <ul>
              {% for child in item.children %}
                <li><a href="{{ child.url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>